body {
    border: 1px solid grey;
    background-color: white;
    display: grid;
    display: -moz-grid;
    margin: 0 auto;
    text-align: center;
    /* grid-template-rows: 80px 80px 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas:    
        "header"
        "sidebar"
        "main"
        "footer"; */
    
}


header {
    height: 50px;
    background-color: white;
}

.jumbo, .jumboprod, .jumbotext, header {
    min-width: 500px;
    margin: 0;
}
.jumbo {
    background-color: grey;
    
    height: 590px;  
}

.jumboprod {
    background-color: red;
    height: 281px;
}

.jumbotext {
    background-color: magenta;
    height: 308px;
}

/* .products {
    margin: auto;
    text-align: center;

} */
.miniprod {
    background-color: forestgreen;
    height: 377px;
    max-width: 90%;
    margin: 0 auto;
    z-index: 1;
    border: 1px solid black;
}

.miniimg {
    min-width: 450px;
    height: 251px;
    background-color: lightblue;
    z-index: 10;
}



@media screen and (min-width: 540px) {
   .products{
       display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: .5fr .5fr;
        grid-column-gap: 5% 5%;
        grid-row-gap: 48px;
        margin: 48px; 
        min-width: 256px;
    }
    
    .miniimg {
        min-width: 232px;
    }

}

@media screen and (min-width: 765px) {
    
    .jumbotext {
        display: none;
    }

    .jumbo {
        height: 281px;
    }

}